#header {
    background: white;
    padding: 30px 0;    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        } 
        &--info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 10%;
        }
    }
}




