
*{
  padding: 0;
  margin: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  margin: 0 40px;
  font-size: 20px;
  border: none;
  transition: 1s;

}
a:hover {
  border-bottom: 2px solid blue;
}